# Django
SECRET_KEY=change-me-to-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
# Если запускаем без Docker — оставь пустым, будет SQLite (db.sqlite3)
# Если с Docker — DATABASE_URL=postgres://crm:crm@postgres:5432/crm
DATABASE_URL=

# Telegram bots
STUDENT_BOT_TOKEN=
STUDENT_BOT_USERNAME=         # без @, например: your_internship_bot
MANAGERS_BOT_TOKEN=
MANAGERS_BOT_USERNAME=
MANAGERS_CHAT_ID=

# Internal API token (бот ходит в Django по нему)
BOT_API_TOKEN=change-me-to-long-random-string

# Куда бот ходит за Django API. В docker-compose уходит на http://web:8000
CRM_API_BASE_URL=http://localhost:8000
